.bar-container{
    display: flex;
	align-items: center;
    background-color: #333333;
    margin-top: 25px;
	max-width: 665px;
    border-radius: 5px;
	margin-bottom: 11px;
    width: 90%;

}

.search {
	font-family: 'ddg-serp-icons' !important;
	color: #999999;
	background: none;
	border: none;
	font-size: 1.45em;
    padding: 13px;
    border-radius: 5px;
}

#inputSearch{
    padding: 13px;
	border: 0;
	background: none;
	margin-left: 4px;
    width: 90%;
	font-size: 1.1em;
	font-weight: 10;
	outline: none;
	color: #eeeeee;
	font-family: "ProximaNova";
}

.search:hover{
    color: #eeeeee;
    background-color: #444444;
    border-radius: 0 5px 5px 0;
}


