#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.SquareMessageWrapper{
  display: flex;
  flex-direction: row;
}

.SearchWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.Name{
  margin-top: 10px;
  font-size: 4vh;

}

.logo {
  height: 9.5em;
  will-change: filter;
  transition: filter 300ms;
  max-width: 200px;
}

h1 {
  font-family: "ProximaNova_ExtraBold";
  font-size: 33px;
  margin-bottom: 0;
  font-weight: 100;
}

footer {
  background: #58b792;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contenedor-bulletpoints{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 20px;
  padding: 13px 15px;
}

.info1 {
  margin: 0px;
}

.addButton {
  background-color: #678fff;
  font-family: 15px;
  font-family: 'ProximaNova_SemiBold';
}