#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
  
}

.SquareMessageWrapper{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  min-height: 322px;
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 930px){
  .SquareMessageWrapper{
    flex-direction: column;
      align-items: center;
  }
}

.SearchWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.Name{
  margin-top: 10px;
  font-size: 4vh;

}

.logo {
  height: 9.5em;
  will-change: filter;
  transition: filter 300ms;
  max-width: 200px;
}

h1 {
  font-family: "ProximaNova_ExtraBold";
  font-size: 33px;
  margin-bottom: 0;
  font-weight: 100;
}

footer {
  background: #58b792;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contenedor-bulletpoints{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 20px;
  padding: 13px 15px;
}

.info1 {
  margin: 0px;
}

.addButton {
  background-color: #678fff;
  font-family: 15px;
  font-family: 'ProximaNova_SemiBold';
}

.small-info{
  margin-top: 14px;
  font-size: 12px;
  font-family: 'ProximaNova_Bold';
  color: #eeeeee;
  margin-bottom: 48px;
}

.info2{
  font-size: 17px;
  line-height: 24px;
  font-family: 'ProximaNova_Bold';
  color: #eeeeee;
}

.footerTitle{
  font-size: 44px; 
  line-height: 48px;
  margin-top: 100px;
  margin-bottom: 15px;
  font-family: 'ProximaNova_Bold';
  color: #fff;
}

.footerInfo{
  font-size: 20px;
  line-height: 28px;
  font-family: 'ProximaNova_SemiBold';
  margin-bottom: 25px;
  color: #fff;
}

.footerButton{
  font-size: 18px;
  font-family: 'ProximaNova_SemiBold';
  background: rgba(0,0,0,0.4);
  transition: background-color .15s ease-out;
  border-color: transparent;
  color: #eeeeee;
  text-shadow: none;
  outline: none;
  cursor: pointer;
  border: 0;
}

.footerButton:hover{
  outline: none;
  background: rgba(0,0,0,0.5);
  border: 0;
}